<p id="notice"><%= notice %></p>

<p>
  <strong>Goal:</strong>
  <%= @model.Goal %>
</p>

<p>
  <strong>Name:</strong>
  <%= @model.name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @model.priority %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
